body{
  text-align:  center;
}
section > h1{
  font-size: 50px;
  color: pink;
}
section > p{
  color: lightblue;
  font-size: 25px;
  font-weight: bold;
}
section#Badoo > img{
  width: 500px;
  height: 500px;
}
section#Tinder > img{
  width: 500px;
  height: 500px;
}
section #Lovoo > img{
  width: 500px;
  height: 500px;
}
section#LoveScout24 > img{
  width: 500px;
  height: 500px;
}
section#eDarling > img{
  width: 500px;
  height: 500px;
}
section#ElitePartner > img{
  width: 500px;
  height: 500px;
}
section#Zoosk > img{
  width: 500px;
  height: 500px;
}
section#Paarship > img{
  width: 500px;
  height: 500px;
}
